<div class="order-container" style="background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);color:white;padding: 2%;width:65%;">
  <div class="order-prod-divider">

    <div class="order-prod d-flex">
      <div class="prodbike p-1">
        <%= image_tag @order.bike.image, class:"img_preview", style:"width:250px"%>
      </div>
      <div class="prodinfo">
        <h3 class="prodtitle"><%= @order.bike.name.upcase %></h3> 
        <div class="prodprice">
         <div class="productprice">USD<%= @order.bike.price %></div> 
        </div>
      </div>
    </div>

    <% @order.customizations.each do |custom| %>
      <div class="order-prod d-flex">
        <div class="prodbike p-1">
          <%= image_tag @order.bike.image, class:"img_preview", style:"width:250px"%>
        </div>
        <div class="prodinfo">
          <h5 class="prodtitle"><%= custom.option.component.name.upcase %></h3> 
          <h6 class="prodtitle"><%= custom.option.name.upcase %></h4> 
          <div class="prodprice">
          <div class="productprice">+<%= custom.option.price %>USD</div> 
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="order-prod-divider">
    <div class="order-info">
      <span class="ordertitle">ORDER SUMMARY</span>
      <div class="d-flex">
	      <input class="inputt" type="text" id="input" placeholder="Discount coupon..">
        <button class="btn btn-primary ml-4">Apply</button>
      </div>
      <span class="orderdetails">Product cost: USD<%= @order.bike.price %> </span>
      <% @order.customizations.each do |custom| %>
        <span class="orderdetails"><%= custom.option.component.name %> <%= custom.option.name %> USD<%= custom.option.price %> </span>
      <% end %>
      <span class="orderdetails">Taxes: USD<%= (@order.total * 0.21).round(2) %> </span>

      <span class="ordertitle" style="width:100%">TOTAL: USD<%= @order.total + (@order.total * 0.21) %> </span> 
      
    
    
    </div>
  </div>


</div>
